.cards__item__name{
    color: black;
    text-align: center;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 20px;
    border: 1px;
    font-size: 20px;
    font-weight: 900;
    margin-right: 2px;
    padding-left:  2px;
}

.cards__item__pos{
    color: black;
    text-align: center;
    margin: 5px;
    border: 1px;
    font-size: 20px;
    font-weight: 900;
    padding: 7px 0px 7px 0px;
}

.cards__item__team{
    color: black;
    text-align: center;
    margin: 5px;
    border: 1px;
    font-size: 16px;
    font-weight: 900;
    padding: 7px 0px 7px 0px;
}

.cards__item__position{
    color: black;
    text-align: center;
    margin: 5px;
    border: 1px;
    font-size: 16px;
    font-weight: 900;
}

.cards_item_buy-sell {
    align-items: center;
}

.card_item_main_button {
    background-color: black;
    padding: 12px 32px;
    margin-bottom: 0px;
    color: white;
    border: none;
    cursor: pointer;
}

.cards__item {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
    padding-left: 0%;
  }